<div>
    <div class="form">
        <h3>detail task</h3>
        <form *ngFor="let task of tasks">
            <label>title</label>
            <input type="text" value="{{task.title}}" readonly />
            <label>priority</label>
            <input type="text" value="{{task.priority | upercase}}" readonly />
            <label>status</label>
            <input type="text" value="{{task.status | upercase}}" readonly />
            <label>description</label>
            <input type="text" value="{{task.description}}" readonly />
            <button (click)="deleteTask(task.id!)">Excluir</button>
        </form>
    </div>
</div>