<div>
    <div class="form">
        <h3>detail user</h3>
        <form *ngFor="let user of users">
            <label>name</label>
            <input type="text" value="{{user.name}}" readonly>
            <label>lastname</label>
            <input type="text" value="{{user.lastname}}" readonly>
            <label>phone</label>
            <input type="tel" value="{{user.phone | phone}}" readonly>
            <label>email</label>
            <input type="email" value="{{user.email}}" readonly>
            <label>username</label>
            <input type="email" value="{{user.username}}" readonly>
        </form>
    </div>
</div>