<div>
  <div class="form">
    <h3>register task</h3>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="title" placeholder="title" />

      <label>priority</label>
      <select formControlName="priority">
        <option value="baixa">Baixa</option>
        <option value="media">Média</option>
        <option value="alta">Alta</option>
      </select>

      <label>status</label>
      <select formControlName="status">
        <option value="pendente">Pendente</option>
        <option value="concluido">Concluído</option>
      </select>

      <textarea formControlName="description" placeholder="description"></textarea>

      <button type="submit">register</button>
    </form>
  </div>
</div>